
@{
    ViewBag.Title = "HotelGallery";
}

<h2>Gallery</h2>

<div class="gallery">
    <div class="row">
        <div class="col-lg-3">
            <a href="~/images/Gallery/1.jpg" data-title="Experience the biggest Swimming Pool in Coxbazar" data-lightbox="hotel">
                <img src="~/images/Gallery/1.jpg" alt="" width="500px" class="img-thumbnail" />
            </a>
            <a href="~/images/Gallery/6%20(5).jpg" data-title="The Lobby..." data-lightbox="hotel">
                <img src="~/images/Gallery/6%20(5).jpg" alt="" width="250px" class="img-thumbnail" />
            </a>
            <a href="~/images/Gallery/6%20(23).jpg" data-title="Experience the biggest Swimming Pool in Coxbazar" data-lightbox="hotel">
                <img src="~/images/Gallery/6%20(23).jpg" alt="" width="300px" class="img-thumbnail" />
            </a>

            <a href="~/images/Gallery/6%20(13).jpg" data-title="Buffet Dinning..." data-lightbox="hotel">
                <img src="~/images/Gallery/6%20(13).jpg" alt="" width="300px" class="img-thumbnail" />
            </a>

            <a href="~/images/Gallery/4.jpg" data-title="Sea View Room...." data-lightbox="hotel">
                <img src="~/images/Gallery/4.jpg" alt="" width="500px" class="img-thumbnail" />
            </a>

            <a href="~/images/Gallery/3.jpg" data-title="Night View from Outside" data-lightbox="hotel">
                <img src="~/images/Gallery/3.jpg" alt="" width="500px" class="img-thumbnail" />
            </a>

            <a href="~/images/Gallery/2.jpg" data-title="View From Swimming Pool." data-lightbox="hotel">
                <img src="~/images/Gallery/2.jpg" alt="" width="500px" class="img-thumbnail" />
            </a>

            <a href="~/images/Gallery/6%20(6).jpg" data-title="Buffet Dinning..." data-lightbox="hotel">
                <img src="~/images/Gallery/6%20(6).jpg" alt="" width="300px" class="img-thumbnail" />
            </a>
            <a href="~/images/Gallery/6%20(7).jpg" data-title="Double Bed Room..." data-lightbox="hotel">
                <img src="~/images/Gallery/6%20(7).jpg" alt="" width="300px" class="img-thumbnail" />
            </a>
            <a href="~/images/Gallery/6%20(8).jpg" data-title="View From Window..." data-lightbox="hotel">
                <img src="~/images/Gallery/6%20(8).jpg" alt="" width="300px" class="img-thumbnail" />
            </a>
            <a href="~/images/Gallery/6%20(9).jpg" data-title="View From Outside..." data-lightbox="hotel">
                <img src="~/images/Gallery/6%20(9).jpg" alt="" width="300px" class="img-thumbnail" />
            </a>
            <a href="~/images/Gallery/6%20(16).jpg" data-title="WashRoom..." data-lightbox="hotel">
                <img src="~/images/Gallery/6%20(16).jpg" alt="" width="250px" class="img-thumbnail" />
            </a>
            <a href="~/images/Gallery/6%20(4).jpg" data-title="Arrangements of CandleLight Dinner...." data-lightbox="hotel">
                <img src="~/images/Gallery/6%20(4).jpg" alt="" width="500px" class="img-thumbnail" />
            </a>

            <a href="~/images/Gallery/6%20(15).jpg" data-title="HoneyMoon Suit" data-lightbox="hotel">
                <img src="~/images/Gallery/6%20(15).jpg" alt="" width="450px" class="img-thumbnail" />
            </a>

            <a href="~/images/Gallery/6%20(18).jpg" data-title="Studio Sea View Room." data-lightbox="hotel">
                <img src="~/images/Gallery/6%20(18).jpg" alt="" width="500px" class="img-thumbnail" />
            </a>

            <a href="~/images/Gallery/6%20(21).jpg" data-title="VIP WashRoom..." data-lightbox="hotel">
                <img src="~/images/Gallery/6%20(21).jpg" alt="" width="300px" class="img-thumbnail" />
            </a>
            <a href="~/images/Gallery/6%20(10).jpg" data-title="Reception..." data-lightbox="hotel">
                <img src="~/images/Gallery/6%20(10).jpg" alt="" width="300px" class="img-thumbnail" />
            </a>
            <a href="~/images/Gallery/6%20(2).jpg" data-title="Spa..." data-lightbox="hotel">
                <img src="~/images/Gallery/6%20(2).jpg" alt="" width="300px" class="img-thumbnail" />
            </a>
            <a href="~/images/Gallery/6%20(3).jpg" data-title="View From Outside..." data-lightbox="hotel">
                <img src="~/images/Gallery/6%20(3).jpg" alt="" width="300px" class="img-thumbnail" />
            </a>
            <a href="~/images/Gallery/6%20(14).jpg" data-title="Restaurant..." data-lightbox="hotel">
                <img src="~/images/Gallery/6%20(14).jpg" alt="" width="270px" class="img-thumbnail" />




</div>

    </div>

</div>

